# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [4]:
# !pip3 install xlsxwriter

In [5]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [6]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [7]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avg10Volume': 137236063,
 'avg30Volume': 122516518,
 'beta': 1.3922606634262864,
 'companyName': 'Apple Inc',
 'day200MovingAvg': 151.88,
 'day30ChangePercent': 0.1449439506473411,
 'day50MovingAvg': 162.09,
 'day5ChangePercent': -0.013559799303388345,
 'dividendYield': 0.0050785559860862,
 'employees': 152974,
 'exDividendDate': '2021-10-28',
 'float': 0,
 'marketcap': 2870351843748,
 'maxChangePercent': 66.78341445005746,
 'month1ChangePercent': 0.1436434530236435,
 'month3ChangePercent': 0.16079908531191173,
 'month6ChangePercent': 0.33845556641270436,
 'nextDividendDate': '',
 'nextEarningsDate': '2022-01-26',
 'peRatio': 15.22639320135563,
 'sharesOutstanding': 16991225784,
 'ttmDividendRate': 0.8762243493906864,
 'ttmEPS': 11.25,
 'week52change': 0.3582841136269463,
 'week52high': 189.48,
 'week52highSplitAdjustOnly': 182.92,
 'week52low': 120.47,
 'week52lowSplitAdjustOnly': 118.88,
 'year1ChangePercent': 0.3679483331101672,
 'year2ChangePercent': 1.529504508176411,
 'year5ChangePercent': 5.530227169550067,
 'ytdChangePercent': 0.31218047285401657}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [8]:
data['year1ChangePercent']

0.3679483331101672

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [9]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [10]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    # print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    response = requests.get(batch_api_call_url)
    if(response.status_code==200):
      data = response.json()
      for symbol in symbol_string.split(','):
        if(symbol!='KSU'):
          final_dataframe = final_dataframe.append(
                                          pd.Series([symbol, 
                                                    data[symbol]['quote']['latestPrice'],
                                                    data[symbol]['stats']['year1ChangePercent'],
                                                    'N/A'
                                                    ], 
                                                    index = my_columns), 
                                          ignore_index = True)
          
    
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  153.52              0.300159                     N/A
1      AAL   17.63            -0.0205944                     N/A
2      AAP  237.61              0.526274                     N/A
3     AAPL  175.80               0.36972                     N/A
4     ABBV  135.94              0.326858                     N/A
..     ...     ...                   ...                     ...
499    YUM  137.54              0.268128                     N/A
500    ZBH  125.12             -0.185924                     N/A
501   ZBRA  607.24              0.592978                     N/A
502   ZION   64.40              0.557042                     N/A
503    ZTS  237.70              0.474304                     N/A

[504 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [11]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    83.070               2.36051                     N/A
1     DVN    41.180               1.73086                     N/A
2    MCHP    88.430               1.47383                     N/A
3    FTNT   337.020               1.47281                     N/A
4    FANG   104.000               1.29952                     N/A
5       F    20.690               1.27285                     N/A
6     MRO    15.240               1.23746                     N/A
7    NVDA   293.910               1.14718                     N/A
8      IT   332.150               1.11407                     N/A
9     NUE   117.910               1.11387                     N/A
10    EXR   220.450              0.986368                     N/A
11   SIVB   669.916              0.916486                     N/A
12    IRM    51.380              0.881498                     N/A
13    MAA   222.430              0.854958                     N/A
14   ANET   139.120                0.8446                     N/A
15    SPG   156.100              0.842464                     N/A
16   ODFL   357.446              0.833477                     N/A
17    RHI   106.120              0.770185                     N/A
18    JCI    80.200              0.761495                     N/A
19     CF    65.510              0.760128                     N/A
20    COP    72.280              0.753134                     N/A
21   INTU   645.320              0.751469                     N/A
22    WFC    48.450              0.751377                     N/A
23    EOG    87.720              0.733938                     N/A
24    ALB   237.900              0.731117                     N/A
25    CMA    87.240              0.714714                     N/A
26    AZO  2047.800              0.709756                     N/A
27    MLM   446.540              0.705772                     N/A
28    PLD   169.700              0.699164                     N/A
29    PFE    61.470              0.693449                     N/A
30   ORCL    97.660              0.685698                     N/A
31   AMAT   151.978              0.684038                     N/A
32    WST   464.227              0.680011                     N/A
33   GOOG  2915.710              0.674689                     N/A
34  GOOGL  2882.300              0.672318                     N/A
35   FITB    43.110              0.670016                     N/A
36    AIV     7.800              0.663427                     N/A
37    PWR   111.647                0.6605                     N/A
38   SCHW    84.200              0.659912                     N/A
39     GS   393.730              0.659586                     N/A
40    PSA   382.413              0.658104                     N/A
41   TSCO   225.500              0.654728                     N/A
42    ACN   411.230              0.653945                     N/A
43    LLY   266.800              0.651205                     N/A
44    MOS    37.940              0.646954                     N/A
45    AMP   297.290              0.634141                     N/A
46    DRE    63.780              0.633722                     N/A
47   NDAQ   208.270              0.632991                     N/A
48   KEYS   204.020              0.627005                     N/A
49    TXT    74.090              0.625988                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [12]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:10000000
10000000

In [13]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe.loc[i,'Price'])
final_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    83.070               2.36051                    2407
1     DVN    41.180               1.73086                    4856
2    MCHP    88.430               1.47383                    2261
3    FTNT   337.020               1.47281                     593
4    FANG   104.000               1.29952                    1923
5       F    20.690               1.27285                    9666
6     MRO    15.240               1.23746                   13123
7    NVDA   293.910               1.14718                     680
8      IT   332.150               1.11407                     602
9     NUE   117.910               1.11387                    1696
10    EXR   220.450              0.986368                     907
11   SIVB   669.916              0.916486                     298
12    IRM    51.380              0.881498                    3892
13    MAA   222.430              0.854958                     899
14   ANET   139.120                0.8446                    1437
15    SPG   156.100              0.842464                    1281
16   ODFL   357.446              0.833477                     559
17    RHI   106.120              0.770185                    1884
18    JCI    80.200              0.761495                    2493
19     CF    65.510              0.760128                    3052
20    COP    72.280              0.753134                    2767
21   INTU   645.320              0.751469                     309
22    WFC    48.450              0.751377                    4127
23    EOG    87.720              0.733938                    2279
24    ALB   237.900              0.731117                     840
25    CMA    87.240              0.714714                    2292
26    AZO  2047.800              0.709756                      97
27    MLM   446.540              0.705772                     447
28    PLD   169.700              0.699164                    1178
29    PFE    61.470              0.693449                    3253
30   ORCL    97.660              0.685698                    2047
31   AMAT   151.978              0.684038                    1315
32    WST   464.227              0.680011                     430
33   GOOG  2915.710              0.674689                      68
34  GOOGL  2882.300              0.672318                      69
35   FITB    43.110              0.670016                    4639
36    AIV     7.800              0.663427                   25641
37    PWR   111.647                0.6605                    1791
38   SCHW    84.200              0.659912                    2375
39     GS   393.730              0.659586                     507
40    PSA   382.413              0.658104                     522
41   TSCO   225.500              0.654728                     886
42    ACN   411.230              0.653945                     486
43    LLY   266.800              0.651205                     749
44    MOS    37.940              0.646954                    5271
45    AMP   297.290              0.634141                     672
46    DRE    63.780              0.633722                    3135
47   NDAQ   208.270              0.632991                     960
48   KEYS   204.020              0.627005                     980
49    TXT    74.090              0.625988                    2699

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [14]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

In [15]:
for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
      if(symbol!='KSU'):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe

    Ticker    Price  ... One-Month Return Percentile HQM Score
0        A  156.270  ...                         N/A       N/A
1      AAL   17.610  ...                         N/A       N/A
2      AAP  242.960  ...                         N/A       N/A
3     AAPL  178.244  ...                         N/A       N/A
4     ABBV  134.090  ...                         N/A       N/A
..     ...      ...  ...                         ...       ...
499    YUM  134.050  ...                         N/A       N/A
500    ZBH  125.780  ...                         N/A       N/A
501   ZBRA  605.900  ...                         N/A       N/A
502   ZION   62.800  ...                         N/A       N/A
503    ZTS  244.300  ...                         N/A       N/A

[504 rows x 12 columns]

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [16]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for i in hqm_dataframe.index:
    for time_period in time_periods:
      change_col = f'{time_period} Price Return'
      if hqm_dataframe.loc[i, change_col] == None: # to prevent comparision b/w NoneType and float error
        hqm_dataframe.loc[i, change_col] = 0 

for i in hqm_dataframe.index:
    for time_period in time_periods:
      change_col = f'{time_period} Price Return'
      percentile_col = f'{time_period} Return Percentile'
      hqm_dataframe.loc[i, percentile_col] = stats.percentileofscore(hqm_dataframe[change_col], hqm_dataframe.loc[i, change_col])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

0       0.571429
1       0.123016
2       0.819444
3       0.656746
4       0.611111
         ...
499     0.509921
500    0.0357143
501     0.859127
502     0.865079
503      0.77381
Name: One-Year Return Percentile, Length: 504, dtype: object
0       0.480159
1       0.031746
2       0.861111
3       0.934524
4       0.748016
         ...
499     0.696429
500    0.0436508
501         0.75
502     0.740079
503     0.904762
Name: Six-Month Return Percentile, Length: 504, dtype: object
0      0.0813492
1      0.0515873
2       0.869048
3       0.871032
4       0.954365
         ...
499      0.53373
500    0.0396825
501     0.414683
502     0.753968
503     0.859127
Name: Three-Month Return Percentile, Length: 504, dtype: object
0       0.230159
1      0.0396825
2       0.674603
3       0.992063
4       0.984127
         ...
499     0.843254
500     0.152778
501     0.440476
502     0.297619
503      0.84127
Name: One-Month Return Percentile, Length: 504, dtype: object

    Ticker    Price  ... One-Month Return Percentile HQM Score
0        A  156.270  ...                    0.230159       N/A
1      AAL   17.610  ...                   0.0396825       N/A
2      AAP  242.960  ...                    0.674603       N/A
3     AAPL  178.244  ...                    0.992063       N/A
4     ABBV  134.090  ...                    0.984127       N/A
..     ...      ...  ...                         ...       ...
499    YUM  134.050  ...                    0.843254       N/A
500    ZBH  125.780  ...                    0.152778       N/A
501   ZBRA  605.900  ...                    0.440476       N/A
502   ZION   62.800  ...                    0.297619       N/A
503    ZTS  244.300  ...                     0.84127       N/A

[504 rows x 12 columns]

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [17]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

hqm_dataframe

    Ticker    Price  ... One-Month Return Percentile  HQM Score
0        A  156.270  ...                    0.230159   0.340774
1      AAL   17.610  ...                   0.0396825  0.0615079
2      AAP  242.960  ...                    0.674603   0.806052
3     AAPL  178.244  ...                    0.992063   0.863591
4     ABBV  134.090  ...                    0.984127   0.824405
..     ...      ...  ...                         ...        ...
499    YUM  134.050  ...                    0.843254   0.645833
500    ZBH  125.780  ...                    0.152778  0.0679563
501   ZBRA  605.900  ...                    0.440476   0.616071
502   ZION   62.800  ...                    0.297619   0.664187
503    ZTS  244.300  ...                     0.84127   0.844742

[504 rows x 12 columns]

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [24]:
hqm_dataframe = hqm_dataframe.sort_values('HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe.reset_index(drop = True, inplace = True)
hqm_dataframe

   Ticker     Price  ... One-Month Return Percentile  HQM Score
0     ACN   416.760  ...                    0.916667   0.926091
1    AAPL   178.244  ...                    0.992063   0.863591
2    ANET   140.470  ...                    0.492063   0.858135
3     AOS    82.090  ...                    0.652778    0.83631
4    ABBV   134.090  ...                    0.984127   0.824405
5    ANTM   453.350  ...                    0.779762   0.815476
6     AAP   242.960  ...                    0.674603   0.806052
7     AVB   251.658  ...                    0.660714   0.770337
8     AMP   308.660  ...                     0.40873   0.717758
9     ARE   223.100  ...                    0.809524   0.717262
10    AMD   142.095  ...                    0.134921   0.711806
11    ABT   142.050  ...                    0.769841   0.705853
12    ADP   238.957  ...                    0.507937   0.704365
13    AJG   166.420  ...                    0.555556   0.677083
14    APH    86.800  ...                    0.470238   0.649306
15    AON   296.370  ...                    0.414683   0.600198
16    AME   145.820  ...                    0.678571    0.59127
17    ALB   229.550  ...                   0.0555556    0.58879
18    AFL    57.420  ...                    0.632937   0.583333
19    AIV     7.880  ...                    0.267857   0.568948
20   ANSS   408.360  ...                    0.527778   0.565476
21    ADM    66.550  ...                    0.541667   0.561012
22    AEE    90.360  ...                    0.793651   0.552083
23    AIG    55.472  ...                    0.406746   0.552083
24    ATO   100.770  ...                    0.865079   0.549603
25    APD   315.560  ...                    0.611111   0.545635
26    AMT   291.560  ...                    0.910714   0.543155
27    AEP    91.190  ...                    0.871032   0.534226
28    APA    24.620  ...                   0.0357143   0.534226
29   AMAT   150.749  ...                    0.204365   0.527778
30    ABC   130.990  ...                    0.579365   0.498512
31   AKAM   116.400  ...                    0.827381   0.495536
32   APTV   161.550  ...                    0.190476   0.489583
33   AMGN   228.230  ...                    0.930556   0.449901
34   AMCR    12.325  ...                         0.5   0.390377
35    ADI   178.656  ...                    0.180556   0.374008
36   ALXN   191.600  ...                     0.56746   0.353175
37      A   156.270  ...                    0.230159   0.340774
38    AES    24.740  ...                    0.339286   0.309028
39   ALLE   135.660  ...                    0.386905   0.301587
40    ALL   117.663  ...                    0.630952   0.301587
41    AIZ   150.870  ...                    0.313492   0.281746
42   AMZN  3526.590  ...                    0.293651   0.268353
43   ADBE   562.920  ...                   0.0436508   0.224206
44   ABMD   325.410  ...                   0.0833333   0.215278
45   ALGN   639.270  ...                   0.0615079    0.18998
46   ADSK   281.050  ...                    0.015873   0.141369
47    ALK    50.460  ...                    0.156746  0.0997024
48    AAL    17.610  ...                   0.0396825  0.0615079
49   ATVI    63.930  ...                    0.194444  0.0590278

[50 rows x 12 columns]

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [25]:
portfolio_input()

Enter the value of your portfolio:1000000

In [26]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

   Ticker     Price  ... One-Month Return Percentile  HQM Score
0     ACN   416.760  ...                    0.916667   0.926091
1    AAPL   178.244  ...                    0.992063   0.863591
2    ANET   140.470  ...                    0.492063   0.858135
3     AOS    82.090  ...                    0.652778    0.83631
4    ABBV   134.090  ...                    0.984127   0.824405
5    ANTM   453.350  ...                    0.779762   0.815476
6     AAP   242.960  ...                    0.674603   0.806052
7     AVB   251.658  ...                    0.660714   0.770337
8     AMP   308.660  ...                     0.40873   0.717758
9     ARE   223.100  ...                    0.809524   0.717262
10    AMD   142.095  ...                    0.134921   0.711806
11    ABT   142.050  ...                    0.769841   0.705853
12    ADP   238.957  ...                    0.507937   0.704365
13    AJG   166.420  ...                    0.555556   0.677083
14    APH    86.800  ...                    0.470238   0.649306
15    AON   296.370  ...                    0.414683   0.600198
16    AME   145.820  ...                    0.678571    0.59127
17    ALB   229.550  ...                   0.0555556    0.58879
18    AFL    57.420  ...                    0.632937   0.583333
19    AIV     7.880  ...                    0.267857   0.568948
20   ANSS   408.360  ...                    0.527778   0.565476
21    ADM    66.550  ...                    0.541667   0.561012
22    AEE    90.360  ...                    0.793651   0.552083
23    AIG    55.472  ...                    0.406746   0.552083
24    ATO   100.770  ...                    0.865079   0.549603
25    APD   315.560  ...                    0.611111   0.545635
26    AMT   291.560  ...                    0.910714   0.543155
27    AEP    91.190  ...                    0.871032   0.534226
28    APA    24.620  ...                   0.0357143   0.534226
29   AMAT   150.749  ...                    0.204365   0.527778
30    ABC   130.990  ...                    0.579365   0.498512
31   AKAM   116.400  ...                    0.827381   0.495536
32   APTV   161.550  ...                    0.190476   0.489583
33   AMGN   228.230  ...                    0.930556   0.449901
34   AMCR    12.325  ...                         0.5   0.390377
35    ADI   178.656  ...                    0.180556   0.374008
36   ALXN   191.600  ...                     0.56746   0.353175
37      A   156.270  ...                    0.230159   0.340774
38    AES    24.740  ...                    0.339286   0.309028
39   ALLE   135.660  ...                    0.386905   0.301587
40    ALL   117.663  ...                    0.630952   0.301587
41    AIZ   150.870  ...                    0.313492   0.281746
42   AMZN  3526.590  ...                    0.293651   0.268353
43   ADBE   562.920  ...                   0.0436508   0.224206
44   ABMD   325.410  ...                   0.0833333   0.215278
45   ALGN   639.270  ...                   0.0615079    0.18998
46   ADSK   281.050  ...                    0.015873   0.141369
47    ALK    50.460  ...                    0.156746  0.0997024
48    AAL    17.610  ...                   0.0396825  0.0615079
49   ATVI    63.930  ...                    0.194444  0.0590278

[50 rows x 12 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [34]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [35]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [36]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', percent_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [37]:
writer.save()